.experience {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  .role {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .overview {
    display: flex;
    color: #888;
    font-size: 14px;

    a {
      text-decoration: none;
    }

    .detail {
      flex: 0 1 auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    font-size: 14px;

    li {
      margin: 0 0 4px 1em;
      line-height: 1.25em;
    }
  }
}
