.contact {
  .row {
    display: flex;
    margin-bottom: 20px;

    .cell {
      flex: 1 1 auto;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
