* {
  box-sizing: border-box;
  font-family: "Domine", "Times New Roman", serif;
}

html,
a {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 36px;
  color: #333;
  font-family: "Josefin Sans", Arial, sans-serif;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
    transition: all .15s ease-in-out;

    &:hover {
      color: #039be5;
    }
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 23px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  margin-bottom: 36px;
}

a {
  color: #039be5;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
